.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgb(25, 15, 212) 0%,
    rgb(25, 150, 73) 0%,
    rgb(85, 167, 96) 100%
  );
}
h1{
  margin:0%;
  text-align: center;
}
p {
  color: red;
}
pre {
  width: 0;
  color: rgb(32, 170, 88);
  font-size: larger;
   background: transparent;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #fff;
}
.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}
button {
  background: #0563b4 !important;
  width: auto;
}
